body {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.color-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.color-card {
    padding: 5px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
                0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    flex: 0 0 calc(25% - 20px); /* 4 колонки */
    max-width: calc(25% - 20px);
}

.color-card.is-active {
    transform: perspective(400px) rotateX(10deg);
}

.color-swatch {
    height: 128px;
    cursor: pointer;
}

.color-meta {
    padding: 10px;
    font-weight: 700;
}

.color-meta p {
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 0.1em;
}